.modal-xml {
    max-width: 700px !important;
}

.modal-xl {
    max-width: 600px !important;
}

.anyClass {
    height: 472px;
    overflow-y: scroll;
}

.anyClassTwo {
    height: 258px;
    overflow-y: scroll;
}

.anyClassThree {
    height: 360px;
    overflow-y: scroll;
}

.anyClassFour {
    height: 210px;
    overflow-y: scroll;
}

.sidenav {
    height: 100%;
    width: 125px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5a5a5a;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 8px;
}

.sidenav a {
    padding: 30px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    text-transform: uppercase;
}

.newButton {
    color: white;
    text-decoration: none;
    padding: 8.5px 8px !important;
    border-radius: 0.358rem !important;
    font-weight: lighter;
    font-size: 11px;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.newButton:hover, .newButton:focus {
    background-color: #c90000 !important;
    color: white !important;
}

.sidenav a:hover a:active a:focus {
    background-color: rgb(201, 0, 0);
}

.outlet-box {
    height: 90px;
    width: 100%;
    background: #f15b2a;
    box-shadow: 0 20px 50px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 7px;
    transition: 0.5s;
}

.outlet_code {
    color: white;
}

.btn-sm {
    cursor: pointer;
    height: 23px;
    width: 26px;
    font-size: 9px;
    border-radius: 50px;
}

.inputField {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    padding: 0.438rem 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0px !important;
    border-radius: 4px;
    display: block;
    width: 80%;
    height: 35px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.inputFieldTwo {
    border-radius: 0% !important;
    float: left;
    width: 60%;
    appearance: auto;
    padding: 0.438rem 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid grey;
    border-right: none;
    display: block;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ir_h15_m_w91 {
    height: 30px;
    margin: 0px 0px 0px 5px !important;
    width: 60%;
}

.searchButton {
    margin-top: -35px;
    border-radius: 0% !important;
    height: 35px;
    float: right;
    width: 19%;
    padding: 3px;
    background: #5a5a5a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.searchButtonTwo {
    margin-top: -66px;
    margin-left: 100%;
    border-radius: 0% !important;
    height: 38px;
    width: 30%;
    padding: 0px;
    background: #5a5a5a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.searchButton:hover {
    background: #313131;
}

/* hr {
    border: 2px dotted #000000;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
} */

.inputField[disabled], .inputField[readonly], .inputField[readonly]:focus {
    background-color: #e9ecef;
    opacity: 1;
}


.centered {
    text-align: center;
    align-content: center;
}

.invoice {
    width: 340px;
}

.table-box table.dataTable, .table-box table.table {
    background-color: white;
    color: #6e6b7b;
    margin-top: 0px !important;
    width: 100% !important;
    margin-top: 5px !important;
}

#main_part .main_right #main_item_holder .category-list .list-of-item {
    width: 120px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    height: calc(100vh - 130px);
}

.main_partOne {
    cursor: pointer !important;
    position: relative;
    width: calc(95% / 3);
    position: relative;
    text-align: center;
    background-color: white;
    margin: 0 1.5% 2% 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: all 0.3s;
    padding: 0px 0px 0px 0px;
}

.small-modal.left .modal-dialog,
.small-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 50%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.small-modal.left .modal-content,
.small-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.small-modal.left .modal-body,
.small-modal.right .modal-body {
    padding: 15px 15px 20px;
}

.small-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.small-modal.right.fade.in .modal-dialog {
    right: 0;
}


.half-modal.left .modal-dialog,
.half-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 80%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.half-modal.left .modal-content,
.half-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.half-modal.left .modal-body,
.half-modal.right .modal-body {
    padding: 15px 15px 20px;
}

.half-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

.half-modal.right.fade.in .modal-dialog {
    right: 0;
}




.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 1100px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 20px;
}

.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}

.ir_h15_m_w91[disabled], .ir_h15_m_w91[readonly], .ir_h15_m_w91[readonly]:focus {
    background-color: #e9ecef;
    opacity: 1;
}

@media (min-width: 900px) {
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}

/* .tags {
    display: inline;
    position: relative;
}

.tags:hover:after {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 34px;
    color: #fff;
    content: attr(gloss);
    left: -150%;
    position: absolute;
    z-index: 98;
    width: 150px;
} */


table.dataTable thead th, .table-box table.table thead th {
    position: relative;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
}

.tables-box {
    height: 155px;
    width: 100%;
    background: #f15b2a;
    box-shadow: 0 20px 50px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 7px;
    transition: 0.5s;
}