.currency-flag {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-size: cover;
  background-image: url("../css/patterns/aed.png");
}

.currency-flag-sm {
  width: 16px;
  height: 10px;
}

.currency-flag-lg {
  width: 36px;
  height: 24px;
}

.currency-flag-xl {
  width: 48px;
  height: 32px;
}
.currency-flag.currency-flag-aed {
  background-image: url("../css/patterns/afn.png");
}
.currency-flag.currency-flag-afn {
  background-image: url("../css/patterns/all.png");
}
.currency-flag.currency-flag-all {
  background-image: url("../css/patterns/amd.png");
}
.currency-flag.currency-flag-amd {
  background-image: url("../css/patterns/ang.png");
}
.currency-flag.currency-flag-ang {
  background-image: url("../css/patterns/aoa.png");
}
.currency-flag.currency-flag-aoa {
  background-image: url("../css/patterns/ars.png");
}
