<section class="main-content-wrapper" [hidden]="isShow==true">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="top-left-header">Deals</h2>
                <input type="hidden" class="datatable_name" data-title="Food Menu Categories" data-id_name="datatable">
            </div>
            <div class="col-md-6">
                <a class="btn_list m-right bg-blue-btn btn" (click)="makeDeal()">
                    Make Deal</a>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-sm-6 mb-3 col-md-3 " *ngFor="let p of responseDealsModel">
            <div class="outlet-box text-center">
                <p class="outlet_code mb-1" style="font-weight: 600">{{p.dealName}}</p>
                <img class="imgClass mb-1" *ngIf="p.imageURL != null" src="{{p.imageURL}}">
                <p class="outlet_code mb-1">{{symbol}} {{p.dealPrice | number}}</p>
                <textarea class="form-control" style="height: 80px;" readonly>{{p.itemsDescription}}</textarea>
                <div class="btn_box">
                    <button type="button" class="bg-blue-btn" (click)="activeDeal(p, 1)"
                        [ngStyle]="{'background-color':p.isActive == false ? '#c90000 ' : '#f15a29' }">Inactive</button>
                    <button type="button" class="bg-blue-btn" (click)="activeDeal(p, 2)"
                        [ngStyle]="{'background-color':p.isActive == true ? '#c90000 ' : '#f15a29' }">Active</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-content-wrapper" [hidden]="isShow==false">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h2 class="top-left-header">Menu Items</h2>
                <input type="hidden" class="datatable_name" data-title="Food Menu Categories" data-id_name="datatable">
            </div>
            <div class="col-md-6">
                <span>Total: </span>
                <input type="number" [(ngModel)]="totalAmount" readonly
                    style="background-color: #e9ecef; width: 120px; margin-right: 20px;" />
                <a class="btn_list m-right bg-grey-btn btn" (click)=goToDeals()>
                    Back</a>
                <a class="btn_list m-right bg-grey-btn btn" (click)=resetDeals()>
                    Reset</a>
                <a class="btn_list m-right bg-blue-btn btn" (click)="dealMakingDone(); fillItemsDescription();">
                    Done</a>
                <button [hidden]="true" type="button" data-toggle="modal" data-target=".DealModal" id="dealsDone"
                    #dealsDone></button>
                <button [hidden]="true" type="button" data-toggle="modal" data-target=".viewVariantsModal"
                    id="viewVariant" #viewVariant></button>
            </div>
        </div>
    </section>
    <div class="box-wrapper" [hidden]="ItemsResponseModelReplica.length == 0">
        <form [formGroup]="SearchForm">
            <div class="row my-3">
                <div class="col-md-6 col-sm-8 mb-2">
                    <div class="form-group">
                        <label>Menu Category</label>
                        <select class="form-control" formControlName="foodMenuID" (change)="filterCategories()">
                            <option *ngFor="let p of FoodCatResponseModel" [value]="p.foodMenuID">
                                {{ p.foodMenuName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Quantity</th>
                    <th></th>
                    <th>Item Name</th>
                    <th>Menu Category</th>
                    <th style="text-align: right;">Price</th>
                    <th>Variant</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of ItemsResponseModelReplica  let ndx=index;">
                    <td><input [disabled]="p.hasVariant == true" type="checkbox" id="dealCheck" #dealCheck
                            [checked]="p.Checked" name="dealCheck" (click)="checkDeal(dealCheck.checked,p)"></td>
                    <td>
                        <button [disabled]="p.hasVariant == true" class="btn btn-success color text-white btn-sm m-1"
                            style="cursor: pointer;" (click)="minusQuantity(p)">-</button>
                        {{p.Quantity}}
                        <button [disabled]="p.hasVariant == true" class="btn btn-success color text-white btn-sm m-1"
                            style="cursor: pointer;" (click)="plusQuantity(p)">+</button>
                    </td>
                    <td *ngIf="p.imageURl == null">
                        -
                    </td>
                    <td *ngIf="p.imageURl != null">
                        <div class="d-inline-block align-middle"><img src="{{p.imageURl}}" alt="user image"
                                class="img-radius align-top" style="width: 50px;height: 50px;">
                        </div>
                    </td>
                    <td>{{p.foodItemName}} <span *ngIf="p.refCode" style="font-style: italic;"> - ({{p.refCode}})</span>
                    </td>
                    <td>{{p.foodMenuName}}</td>
                    <td *ngIf="p.hasVariant == true" style="text-align: right;">-</td>
                    <td *ngIf="p.discount == 0 && p.hasVariant == false" style="text-align: right;">{{symbol}} {{p.price
                        |
                        number}}</td>
                    <td *ngIf="p.discount != 0 && p.hasVariant == false" style="text-align: right;">{{symbol}}
                        {{p.calculatedPrice
                        | number}} / <del class="text-danger">{{p.price |
                            number}}</del>
                    </td>
                    <td><input readonly type="checkbox" name="hasVariant" [checked]="p.hasVariant"
                            value="{{p.hasVariant}}" onClick="return false"></td>
                    <td><input readonly type="checkbox" name="isActive" [checked]="p.isActive" value="{{p.isActive}}"
                            onClick="return false"></td>
                    <td>
                        <button [disabled]="p.hasVariant == false" class="btn btn-primary color text-white btn-sm m-1"
                            title="View Variants" data-toggle="modal" data-target=".viewVariantsModal"
                            (click)="getVariants(p)"> <i class="fa fa-eye" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade DealModal" id="view-assigned-group-role-modal" data-backdrop="static" data-keyboard="false"
    tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Deal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeDealsModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="DealForm" (ngSubmit)="submitDeal()">
                    <div class="row">
                        <div class="col-sm-12 mb-2 col-md-3">
                            <div class="form-group">
                                <label>Total Amount</label>
                                <input readonly type="text" formControlName="totalAmountRs" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-9"></div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group">
                                <label>Deal Name<span class="required_star">*</span></label>
                                <input minlength="3" autocomplete="off" type="text" formControlName="DealName"
                                    class="form-control" placeholder="Deal Name" value=""
                                    [ngClass]="{ 'is-invalid': Dsubmitted && h.DealName.errors }" />
                                <div *ngIf="Dsubmitted && h.DealName.errors" class="invalid-feedback">
                                    <div *ngIf="h.DealName.errors.required">Deal
                                        Name is
                                        required</div>
                                    <small
                                        *ngIf="DealForm.controls['DealName'].errors?.minlength && !h.DealName.errors.whitespace"
                                        class="text-danger">Deal
                                        Name must be at
                                        least 3 characters long.</small>
                                    <small *ngIf="h.DealName.errors.whitespace && !h.DealName.errors.required">Please
                                        enter valid data</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group">
                                <label>Deal Price</label>
                                <input type="number" formControlName="DealPrice" class="form-control"
                                    placeholder="Deal Price"
                                    [ngClass]="{ 'is-invalid': Dsubmitted && h.DealPrice.errors }" />
                                <div *ngIf="Dsubmitted && h.DealPrice.errors" class="invalid-feedback">
                                    <div *ngIf="h.DealPrice.errors.required">Deal Price is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group">
                                <label>Items Description</label>
                                <textarea formControlName="itemsDescription" maxlength="250" readonly
                                    class="form-control" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea formControlName="description" maxlength="250" class="form-control"
                                    autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group">
                                <label>Upload File </label>
                                <input type="file" accept="image/*" #myInputV class="form-control"
                                    formControlName="imageURL" placeholder="Upload File"
                                    (change)="attachDealImage($event);"
                                    [ngClass]="{ 'is-invalid': Dsubmitted && h.imageURL.errors }">
                                <div *ngIf="Dsubmitted && h.imageURL.errors" class="invalid-feedback">
                                    <div *ngIf="h.imageURL.errors.required">Attach Image</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2 col-md-6">
                            <div class="form-group float-start">
                                <label class="col-sm-12">Is Active?</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" class="form-control " formControlName="isActive"
                                        (click)="isActiveCheck(IsActive.checked)" #IsActive />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="submitDeal()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade viewVariantsModal" id="view-assigned-group-role-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Variants</h5>
                <button type="button" (click)="closeVariantViewModal()" class="close" data-dismiss="modal"
                    aria-label="Close" #closeViewVariantModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-box">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th>Variant Name</th>
                                    <th style="text-align: right;">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of responseVariant let ndx=index;">
                                    <td><input type="checkbox" id="dealCheck" #dealCheck name="dealCheck"
                                            [checked]="p.Checked" (click)="checkDeal(dealCheck.checked,p)"></td>
                                    <td>
                                        <button class="btn btn-primary color text-white btn-sm m-1"
                                            style="cursor: pointer;" (click)="minusVQuantity(p)">-</button>
                                        {{p.Quantity}}
                                        <button class="btn btn-primary color text-white btn-sm m-1"
                                            style="cursor: pointer;" (click)="plusVQuantity(p)">+</button>
                                    </td>
                                    <td *ngIf="p.imageURL == null">
                                        -
                                    </td>
                                    <td *ngIf="p.imageURL != null">
                                        <div class="d-inline-block align-middle"><img src="{{p.imageURL}}"
                                                alt="user image" class="img-radius align-top"
                                                style="width: 50px;height: 50px;">
                                        </div>
                                    </td>
                                    <td>{{p.variantName}}</td>
                                    <td *ngIf="p.discount == 0" style="text-align: right;">{{symbol}} {{p.variantPrice |
                                        number}}</td>
                                    <td *ngIf="p.discount != 0" style="text-align: right;">{{symbol}}
                                        {{p.calculatedPrice
                                        | number}} / <del class="text-danger">{{p.variantPrice |
                                            number}}</del>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="closeVariantViewModal()">Done</button>
            </div>
        </div>
    </div>
</div>