<section class="main-content-wrapper" [hidden]="isShow==true">
  <section class="content-header">
    <div class="row">
      <div class="col-md-6">
        <h2 class="top-left-header">Outlets</h2>
        <input type="hidden" class="datatable_name" data-title="Food Menu Categories" data-id_name="datatable">
      </div>
      <div class="col-md-6">
        <a class="btn_list m-right bg-blue-btn btn" (click)=addNewOutlet()>
          <i data-feather="plus"></i> Add Outlet</a>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-sm-12 mb-3 col-md-6 " *ngFor="let p of OutletResponseModel">
      <div class="outlet-box text-center">
        <i class="fa fa-building fa-3x" style="color:#8be43a9c"></i>
        <h3 class="title">{{p.outletName}}</h3>
        <p class="outlet_code mb-0">Phone: {{p.phone}}</p>
        <p class="outlet_code mb-0">Email: {{p.email}}</p>
        <p class="outlet_code">Address: {{p.address}}</p>
        <div class="btn_box">
          <a *ngIf="GV.canAddEditOutlet" class="bg-blue-btn btn " (click)="editOutlet(p)"> <strong>Edit</strong></a>
          <a class="bg-blue-btn btn " (click)=enterInOutlet(p)> <strong>Enter</strong></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="box-wrapper" [hidden]="isShow==false">
  <section class="content-header">
    <h3 *ngIf="addMode == false" class="top-left-header">
      Add Outlet </h3>
    <h3 *ngIf="addMode == true" class="top-left-header">
      Edit Outlet </h3>
  </section>

  <form [formGroup]="OutletForm" (ngSubmit)="onOutletsubmit()">
    <div class="row">
      <div class="col-sm-12 mb-2 col-md-6">
        <div class="form-group">
          <label>Outlet Name <span class="required_star">*</span></label>
          <input tabindex="1" autocomplete="off" type="text" formControlName="outletName" class="form-control"
            placeholder="Outlet Name" value="" [ngClass]="{ 'is-invalid': submitted && f.outletName.errors }" />
          <div *ngIf="submitted && f.outletName.errors" class="invalid-feedback">
            <div *ngIf="f.outletName.errors.required">Outlet Name is required</div>
            <small *ngIf="f.outletName.errors.whitespace && !f.outletName.errors.required">Please enter valid
              data</small>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-6">
        <div class="form-group">
          <label>Phone <span class="required_star">*</span></label>
          <input tabindex="4" autocomplete="off" type="text" mask='000-0000000' formControlName="phone"
            class="form-control" placeholder="Phone Number" value=""
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Phone No. is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-6">
        <div class="form-group">
          <label>Email<span class="required_star">*</span></label>
          <input tabindex="4" autocomplete="off" type="text" formControlName="email" class="form-control"
            placeholder="Email" value="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-3">
        <div class="form-group">
          <label>Currency</label>
          <select class="form-control" formControlName="symbol"
            [ngClass]="{ 'is-invalid': submitted && f.symbol.errors }">
            <option *ngFor="let c of CurrencyModelResponse" [value]="c.symbol">
              {{ c.currencyName }}
            </option>
          </select>
          <div *ngIf="submitted && f.symbol.errors" class="invalid-feedback">
            <div *ngIf="f.symbol.errors.required">Select Currency!</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-3">
        <div class="form-group">
          <label>Manager</label>
          <select tabindex="2" class="form-control select2" id="default_waiter">
            <option value="">Select</option>
            <option value="">zak</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-6">
        <div class="form-group">
          <label>Address <span class="required_star">*</span></label>
          <textarea tabindex="3" autocomplete="off" formControlName="address" class="form-control" placeholder="Address"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-2 col-md-6">
        <div class="form-group float-start">
          <label class="col-sm-12">Is Active?</label>
          <div class="col-sm-6">
            <input type="checkbox" class="form-control " formControlName="Active"
              (click)="isActiveCheck(Active.checked)" #Active />
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-sm-12 col-md-2">
          <button type="" name="submit" value="submit" class="w-100 btn bg-blue-btn">
            Submit </button>
        </div>
        <div class="col-sm-12 col-md-2">
          <a class="w-100 btn bg-blue-btn" (click)=addNewOutlet()>
            Back
          </a>
        </div>
      </div>
    </div>
  </form>
</div>